.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stick{
    background-color: #222;
    width:50px;
    height: 150px;
    margin: auto;
}
.semaforo{
    width: 190px;
    height: auto;
    background-color: #222;
    margin: auto;

}
.light-red{
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.light-yellow{
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
}
.light-green{
    width: 150px;
    height: 150px;
    background: green;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
}
.glow{
    box-shadow: 0px 0px 50px 4px #747DE8;
}

  
  